conda create -n pofft python=3.11 -y
conda activate pofft
pip install -e .
pip install tqdm                      # 4.70.0
pip install seaborn                   # 0.13.2
pip install requests                  # 2.34.2
pip install markov_clustering[drawing]# 0.0.6
pip install h5py                      # 3.16.0
pip install torch                     # 2.14.0
pip install umap-learn[plot]          # 0.5.12
pip install plotly                    # 6.4.0
pip install transformers              # 5.17.0